---
layout: page
title: Machine Learning for Cryospheric Sciences
permalink: /ml4cryo
---
<div class="content">
  <!-- <h1 class="title is-size-4">Call for Collaboration</h1>
  Some text. Link to GitHub page for the literature review project. -->
  <!-- <h1 class="title is-size-4">Slack Space</h1> -->
  <!-- <h1 class="title is-size-4">Literature Collection Point</h2>

  <h2 class="title is-size-4">Internal Communication</h2> -->
  <a href="https://ml4cryo.github.io/">Website</a>: Check out our website for more information. 
  <br>
  <a href="https://tinyurl.com/join-slack-ml4cryo">Slack Space</a>: Join to become an active part of the community.
  <br>
  <h1 class="title is-size-4">Venues</h3>
</div>

<div class="columns is-multiline">
{% assign venues = site.data.ml4cryo-venues %}
{% for venue in venues %}
    {% include venue-item.html %}
{% endfor %}
</div>
